<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
</head>
<body>
  <div class="container">

    {% if user.is_authenticated %}
    <h2>Welcome to the Home Page</h2>
    <!-- Button to go to Post Page -->
    <button onclick="window.location.href='{% url 'myapp:posts' %}'">Go to Post Page</button>
    <!-- Button to view Profile -->
    <button onclick="window.location.href='{% url 'myapp:profile' %}'">View Profile</button>
    <!-- Button to logout -->
    <button onclick="window.location.href='{% url 'myapp:logout' %}'">Logout</button>

    {% for post in posts %}
      <div class="post-box">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <small>By <a class="username" href="{% url 'myapp:user_profile' post.author.username %}">{{ post.author.username }}</a> on {{ post.created_at }}</small>
        
        <!-- Like button and count -->
        <button id="like-button-{{ post.id }}" class="like-button" data-post-id="{{ post.id }}">
          {% if user in post.likes.all %}
            Unlike
          {% else %}
            Like
          {% endif %}
        </button>
        <span id="like-count-{{ post.id }}">{{ post.total_likes }}</span> likes
      </div>
    {% endfor %}
    {% else %}
    <h2>Please log in or register to view all posts</h2>
    <!-- Button to go to Login Page -->
    <button onclick="window.location.href='{% url 'myapp:login' %}'">Login</button>
    <!-- Button to go to Register Page -->
    <button onclick="window.location.href='{% url 'myapp:register' %}'">Register</button>
    {% endif %}
  </div>

  <!-- JavaScript script tag -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var likeButtons = document.querySelectorAll('.like-button');
      
      likeButtons.forEach(function(button) {
        button.addEventListener('click', function() {
          var postId = this.getAttribute('data-post-id');
          var likeButton = this;
          var likeCount = document.getElementById('like-count-' + postId);

          fetch(`/like/${postId}/`, {
            method: 'POST',
            headers: {
              'X-CSRFToken': '{{ csrf_token }}',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
          })
          .then(response => response.json())
          .then(data => {
            likeCount.textContent = data.total_likes;
            if (likeButton.textContent.trim() === 'Like') {
              likeButton.textContent = 'Unlike';
            } else {
              likeButton.textContent = 'Like';
            }
          });
        });
      });
    });
  </script>
  <script src="{% static 'js/navigation.js' %}"></script>
</body>
</html>
