<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h2>Posts</h2>
    {% for post in posts %}
    <div>
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
      <small>By {{ post.author.username }} on {{ post.created_at }}</small>
    </div>
    {% endfor %}
        <!-- Button to go to Post Page -->
        <button id="goToPostPage">Go to Post Page</button>

        <!-- JavaScript script tag -->
        <script src="{% staticfiles 'js/navigation.js' %}"></script>
  </body>
</html>
