<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
    {% load static %}
</head>
<body>
    <h2>Create a New Post</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <!-- Button to go to Home Page -->
    <button id="goToHomePage">Go to Home Page</button>

    <!-- JavaScript script tag -->
    <script src="{% static 'js/navigation.js' %}"></script>
</body>
</html>
