<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    {% load static %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin/img/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'admin/img/favicon-32x32.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
  </head>
  <body>
    <h2>Register</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Register</button>
    </form>
        <!-- Button to go to Home Page -->
        <button id="goToHomePage">Go to Home Page</button>
    
        <!-- JavaScript script tag -->
        <script>
            var homeUrl = "{% url 'myapp:home' %}";
        </script>
        <script src="{% static 'js/navigation.js' %}"></script>
  </body>
</html>
